<%= render "/partials/header" %>

<div class= "col-lg-10 col-lg-offset-1">
	<div class="page-header">
		<h2>Results <small>100 found</small></h2>
	</div>

	<% if !@results['productSearchEntry'].nil? %>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<!-- INSERT FILTERING BOX HERE -->
			</div>
		</div>

		<div class="col-lg-8">
			<% @results['productSearchEntry'].each do |result| %>
				<!-- INSERT CODE TO DO THUMBNAILS HERE -->
			<% end %>
		</div>

	<% else %>
		<div class="alert alert-warning col-lg-8 col-lg-offset-2">
			<p class="text-center">No results found</p>	
		</div>
	<% end %> 
</div>

<%= render "/partials/footer" %>